/rep_main.jasper
/subr_chart_ejecpres.jasper
/subr_chart_ejecacciones_comp.jasper
/subr_problemas.jasper
/subr_eventos.jasper
/subr_riesgos.jasper
/subr_chart_ejecpres_comp.jasper
/subr_ejec_acciones.jasper
/subr_ejec_pres.jasper
/subr_ejec_pres_acu.jasper
/subr_gest_comunic.jasper
/subr_chart_ejecacciones.jasper
/subr_gest_conoc.jasper
